body {
	font-family: Georgia, times, serif;
	font-size: 16px;
	line-height: 1.3;
	position: relative;

	section {
		@include transform(translate(-100%,0));
		opacity: 0;
		display: none;
		@include trans(1s);
	}
}

body.home #home,
body.the-vital-bowl #the-vital-bowl,
body.symantis #symantis,
body.right-to-retire #right-to-retire,
body.portfolio-2014 #portfolio-2014,
body.jabber-app #jabber-app,
body.ch_ch-employment #ch_ch-employment { 
	@include transform(translate(0,0));
	display: block;
	&.viewing {
		opacity: 1;
	}
}

h1 {
	font-size: 4.5rem;
	margin: 0;
}
h2 {
	font-size: 2rem;
	margin: 0;
}

p {
	font-size: 1rem;
	&.small {
		font-size: 0.8rem;
	}
}
a {
	text-decoration: none;
	color: inherit;
}
.white {
	color: #fff;
}
.black {
	color: #000;
}

a:hover, a:active, a:focus {
	outline: 0;
}

.main-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	z-index: 1;
	// placeholder gradient
	background: #ff6e00;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmY2ZTAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDUlIiBzdG9wLWNvbG9yPSIjZWE0Yzg4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjNDI2MWZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(-45deg, #ff6e00 0%, #ea4c88 45%, #4261ff 99%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff6e00), color-stop(45%,#ea4c88), color-stop(99%,#4261ff));
	background: -webkit-linear-gradient(-45deg, #ff6e00 0%,#ea4c88 45%,#4261ff 99%);
	background: -o-linear-gradient(-45deg, #ff6e00 0%,#ea4c88 45%,#4261ff 99%);
	background: -ms-linear-gradient(-45deg, #ff6e00 0%,#ea4c88 45%,#4261ff 99%);
	background: linear-gradient(135deg, #ff6e00 0%,#ea4c88 45%,#4261ff 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6e00', endColorstr='#4261ff',GradientType=1 );
}

.global-wrapper {
	position: relative;
	width: 100%;
	display: block;
	overflow: hidden;
	z-index: 2;
	opacity: 0;
	@include trans(1s);
	@include transDelay(500ms);
	@include border-box;
	@include transform(translate3d(50px,0,0));

	&.active {
		//height: auto !important;
		overflow-y: scroll;
		opacity: 1;
		@include transform(translate3d(0,0,0));
	}
	&.unloaded {
		display: none;
	}
}

.page-container {
	position: relative;
	width: 100%;
	z-index: 9;
	padding: 1em 2em 2em 8.2em;
	@include border-box;
}
.page-inner {
	position: relative;
	display: block;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	//border: 1em black solid;
	@include border-box;
	@include card(4);
	color: white;
}

