body.home {
	.nav-wrap {
		width: 50%;
		.nav-inner {
			h1 {
				opacity: 1;
			}
			img {
				opacity: 0;
			}
		}
	}
}
.page-container.home {
	padding: 0;
}
.home-nav-up {
	position: fixed;
	top: 0.2em;
	right: 1em;
	font-size: 5em;
	color: white;
	cursor: pointer;
	z-index: 99;
	opacity: 0;
	@include trans(600ms);
	span {
		padding: 0.1em;
		@include border-box;
		&:before {
			position: relative;
			top: 0;
		}
	}
	&.active {
		opacity: 1;
	}
}
.home-nav-down {
	position: fixed;
	bottom: 0.1em;
	right: 1em;
	font-size: 5em;
	color: white;
	cursor: pointer;
	z-index: 99;
	opacity: 0;
	@include trans(600ms);
	span {
		padding: 0.1em;
		@include border-box;
		&:before {
			position: relative;
			bottom: -0.2em;
		}
	}
	&.active {
		opacity: 1;
	}
}
.projects-container {
	z-index: 9;
	position: relative;
	display: block;
	width: 50%;
	margin: 0 0 0 50%;
	padding: 0;
	list-style: none;
	@include border-box;

	li {
		position: relative;
		display: block;
		width: 100%;
		padding: 4em 2em 4em 0;
		list-style: none;
		overflow: hidden;
		@include border-box;

		a {
			//background-color: rgba(0,0,0,0.6);
			display: block;
			height: 100%;
			width: 100%;
			position: relative;
			@include border-box;

			&:hover {
				.home-list-bg {
					span {
						background-size: auto 110%;
						//opacity: 1;
					}
				}
				.home-list-inner {
					background-color: rgba(0,0,0,0.5);
					h3 {
						@include transform(translate(0,0));
						opacity: 1;
					}
					p {
						@include transform(translate(0,0));
						opacity: 1;
					}
				}
			}
		}
	}
}
.home-list-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 5px 5px 0;
	@include border-box;

	span {
		display: block;
		width: 100%;
		height: 100%;
		opacity: 0.7;
		background: url('../img/jpg/assasin.jpg') no-repeat center center;
		background-size: auto 100%;
		@include trans(300ms);
	}
}
.home-list-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.2);
	border-top: 10px rgba(0,0,0,0.5) solid;
	border-right: 10px rgba(0,0,0,0.5) solid;
	border-bottom: 10px rgba(0,0,0,0.5) solid;
	@include border-box;
	@include trans(400ms);

	h3 {
		font-style: italic;
		font-size: 2em;
		margin-top: 3.6em;
		margin-bottom: 0;
		white-space: nowrap;
		color: white;
		width: 100%;
		text-align: right;
		padding-right: 1em;
		opacity: 0;
		@include border-box;
		@include no-highlight;
		@include no-select;
		@include transform(translate(10%,0));
		@include cubic-trans(600ms);
	}

	p {
		font-style: normal;
		font-size: 1em;
		margin-top: 0;
		color: white;
		width: 100%;
		text-align: right;
		padding-right: 2em;
		font-weight: lighter;
		opacity: 0;
		@include border-box;
		@include no-highlight;
		@include no-select;
		@include transform(translate(10%,0));
		@include cubic-trans(600ms);
		@include transDelay(50ms);
	}
}



