
.global-wrapper.unloaded {
	display: none;
}

.preloader {
	position: absolute;
	width: 100%;
	z-index: 99999;
	top: 0;
	left: 0;
	display: block;
	overflow: hidden;
	//@include tranSpec(opacity,400ms);
	@include trans(400ms);

	background: #ff6e00;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmY2ZTAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDUlIiBzdG9wLWNvbG9yPSIjZWE0Yzg4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjNDI2MWZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(-45deg, #ff6e00 0%, #ea4c88 45%, #4261ff 99%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff6e00), color-stop(45%,#ea4c88), color-stop(99%,#4261ff));
	background: -webkit-linear-gradient(-45deg, #ff6e00 0%,#ea4c88 45%,#4261ff 99%);
	background: -o-linear-gradient(-45deg, #ff6e00 0%,#ea4c88 45%,#4261ff 99%);
	background: -ms-linear-gradient(-45deg, #ff6e00 0%,#ea4c88 45%,#4261ff 99%);
	background: linear-gradient(135deg, #ff6e00 0%,#ea4c88 45%,#4261ff 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6e00', endColorstr='#4261ff',GradientType=1 );

	&.loaded {
		.loader-border {
			border-color: #fff;
		}
		.loader-wrap {
			.loader-image {
				-webkit-transform: translate3d(-100%,0,0);
		        -moz-transform: translate3d(-100%,0,0);
		        transform: translate3d(-100%,0,0);
		        opacity: 0;
			}
			.enter-site-button {
				-webkit-transform: translate3d(0,0,0);
		    	-moz-transform: translate3d(0,0,0);
		    	transform: translate3d(0,0,0);
		    	opacity: 1;
			}
		}
	}

	&.entered {
		opacity: 0;
	}
}

.loader-border {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -100px;
	display: block;
	height: 200px;
	width: 200px;
	z-index: 8;
	border-radius: 200px;
	border: 4px solid #000;
	border-right-color: white;
	border-left-color: white;

	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform-style: preserve-3d;

    animation: preloader_wings 1.5s infinite linear;
    -webkit-animation: preloader_wings 1.5s infinite linear;
    //@include tranSpec(border-color,600ms);
    @include trans(600ms);
}

.loader-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
	height: 200px;
	width: 200px;
	z-index: 9;
	overflow: hidden;
}

.loader-image {
	height: 200px;
	width: 200px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;

	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform-style: preserve-3d;

	//@include tranSpec2(transform,1000ms,opacity,500ms);
	@include trans(1s);
}

.enter-site-button {
	height: 200px;
	width: 200px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
	-webkit-transform: translate3d(100%,0,0);
    -moz-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);

    -webkit-transform-style: preserve-3d;

	//@include tranSpec2(transform,1000ms,opacity,500ms);
	@include trans(1s);

	.enter-arrow {
		font-size: 80px;
		color: white;
		width: 80px;
		height: 80px;
		display: block;
		position: absolute;
		top: 100px;
		left: 100px;
		margin-top: -42px;
		margin-left: -40px;
		//@include tranSpec(left,300ms);
		@include trans(300ms);
	}

	&:hover {
		.enter-arrow {
			left: 110px;
		}
	}
}

@keyframes preloader_wings {
  0%  { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
@-webkit-keyframes preloader_wings {
  0%  { -webkit-transform: rotate(0deg) }
  50% { -webkit-transform: rotate(180deg) }
  100% { -webkit-transform: rotate(360deg) }
}


