
.preloader {
	position: absolute;
	width: 100%;
	z-index: 99999;
	top: 0;
	left: 0;
	display: block;
	overflow: hidden;
	//@include tranSpec(opacity,400ms);
	@include trans(500ms);

	&.loaded {
		.loader-border {
			border-color: #fff;
		}
		.loader-wrap {
			.loader-image {
				-webkit-transform: translate(-100%,0);
		        -moz-transform: translate(-100%,0);
		        transform: translate(-100%,0);
		        opacity: 0;
			}
			.enter-site-button {
				-webkit-transform: translate(0,0);
		    	-moz-transform: translate(0,0);
		    	transform: translate(0,0);
		    	opacity: 1;
			}
		}
	}

	&.entered {
		//@include transform(translate3d(-10%,0,0));
		opacity: 0;
	}
}

.loader-border {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -100px;
	display: block;
	height: 200px;
	width: 200px;
	z-index: 8;
	border-radius: 200px;
	border: 4px solid #000;
	border-right-color: white;
	border-left-color: white;

    animation: preloader_wings 1.5s infinite linear;
    -webkit-animation: preloader_wings 1.5s infinite linear;
    //@include tranSpec(border-color,600ms);
    @include trans(600ms);
}

.loader-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
	height: 200px;
	width: 200px;
	z-index: 9;
	overflow: hidden;
}

.loader-image {
	height: 200px;
	width: 200px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;

	transform: translate(0,0);
	-webkit-transform: translate(0,0);

	//@include tranSpec2(transform,1000ms,opacity,500ms);
	@include trans(1s);
}

.enter-site-button {
	height: 200px;
	width: 200px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
	-webkit-transform: translate(100%,0);
    -moz-transform: translate(100%,0);
    transform: translate(100%,0);

	//@include tranSpec2(transform,1000ms,opacity,500ms);
	@include trans(1s);

	.enter-arrow {
		font-size: 80px;
		color: white;
		width: 80px;
		height: 80px;
		display: block;
		position: absolute;
		top: 100px;
		left: 100px;
		margin-top: -42px;
		margin-left: -40px;
		//@include tranSpec(left,300ms);
		@include trans(300ms);
	}

	&:hover {
		.enter-arrow {
			left: 110px;
		}
	}
}

@keyframes preloader_wings {
  0%  { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
@-webkit-keyframes preloader_wings {
  0%  { -webkit-transform: rotate(0deg) }
  50% { -webkit-transform: rotate(180deg) }
  100% { -webkit-transform: rotate(360deg) }
}


