
.preloader {
	position: absolute;
	width: 100%;
	z-index: 99999;
	top: 0;
	left: 0;
	display: block;
	overflow: hidden;
	//@include tranSpec(opacity,400ms);
	@include trans(500ms);

	&.loaded {
		.loader-border {
			border-color: #fff;
		}
		.loader-wrap {
			.loader-image {
				@include transform(translate(0,-100%));
		        opacity: 0;
			}
			.enter-site-button {
				@include transform(translate(0,0));
		    	opacity: 1;
			}
		}
	}

	&.entered {
		@include transform(translate(0,-10%,0));
		opacity: 0;
	}
}

.loader-border {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -100px;
	display: block;
	height: 200px;
	width: 200px;
	z-index: 8;
	border-radius: 200px;
	border: 4px solid #000;
	border-right-color: white;
	border-left-color: white;
	@include animation(preloader_wings 1.5s infinite linear);
    @include trans(600ms);
}

.loader-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
	height: 200px;
	width: 200px;
	z-index: 9;
	overflow: hidden;
}

.loader-image {
	height: 200px;
	width: 200px;
	position: absolute;
	top: 4px;
	left: 4px;
	opacity: 1;
	@include transform(translate(0,0));
	@include trans(1s);
}

.enter-site-button {
	height: 200px;
	width: 200px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
	@include transform(translate(0,100%));
	@include trans(1s);

	.enter-arrow {
		font-size: 80px;
		color: white;
		width: 80px;
		height: 80px;
		display: block;
		position: absolute;
		top: 100px;
		left: 100px;
		margin-top: -40px;
		margin-left: -38px;
		@include trans(300ms);
	}

	&:hover {
		.enter-arrow {
			top: 110px;
		}
	}
}

@-webkit-keyframes preloader_wings {
  0%  { @include transform(rotate(0deg)); }
  50% { @include transform(rotate(180deg)); }
  100% { @include transform(rotate(360deg)); }
}
@-moz-keyframes preloader_wings {
  0%  { @include transform(rotate(0deg)); }
  50% { @include transform(rotate(180deg)); }
  100% { @include transform(rotate(360deg)); }
}
@-ms-keyframes preloader_wings {
  0%  { @include transform(rotate(0deg)); }
  50% { @include transform(rotate(180deg)); }
  100% { @include transform(rotate(360deg)); }
}
@-o-keyframes preloader_wings {
  0%  { @include transform(rotate(0deg)); }
  50% { @include transform(rotate(180deg)); }
  100% { @include transform(rotate(360deg)); }
}
@keyframes preloader_wings {
  0%  { @include transform(rotate(0deg)); }
  50% { @include transform(rotate(180deg)); }
  100% { @include transform(rotate(360deg)); }
}



